
body {
background-image: url(Images/cl.png);
}

footer, #re, #d, #mono, #fate, #gosick, #aldo, #help{
  background-image: url(Images/fondo.png)
}
h1, h2{
  text-align: center;
  color: white;
}
h3{
  text-align: center;
}
 img{
           width:600px;
           height:400px;
}
p {
  text-align: center;
}
