
body {

  background-image: url("Images/cl.png");
   /* */

}
footer{
  background: #F2F2F2;

}
#re, #d, #mono, #fate, #gosick, #aldo, #help{

  background: white;
  opacity: 0.9;

}
h1, h2{
  text-align: center;
  color: #fff;

}
h3{
  text-align: center;
}
 #help{
   text-align: center;
   opacity: 0.9;
 }
