
.onedivtorulethemall {

  background-image: url("Images/cl.png");
   /* opacity: 0.5; */

}
footer{
  background: #F2F2F2;

}
#re, #d, #mono, #fate, #gosick, #aldo{

  background: white;

}
h1{
  text-align: center;

}
H2{
  text-align:center;
  color: #fff;
}
style{
}
