header      {    background:#c0392b;     color:#fff;         }
.main       {    background:#FFFFFF;     color:#000;         }
body        {    background:#FFFFFF;                         }
.jumbotron  {    background:#c0392b;     color:#fff;         }
h1          {    font-size: 100px                            }
h2          {    background:#c0392b;     color:#fff;         }
h3          {                                                }
h4          {    background:#c0392b;     color:#fff;         }
h5          {    font-size: 40px;        color:#fff;         }
h6          {    font-size: 60px                             }
aside       {    background:#c0392b;     color:#fff;         }
footer      {    background:#c0392b;     color:#fff;         }﻿
img         {    vertical-align: center; border-style: none; }
.navbar     {                            color: #c0392b;     }


#divNav {
overflow: hidden;
background-color: #212529;
padding: 30px 10px;
transition: 0.4s;
position: fixed;
width: 100%;
top: 0;
z-index: 99;
}

#divNav a {
float: left;
color: #ffff;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px;
line-height: 25px;
border-radius: 4px;
}

#divNav #logo {
font-size: 15px;
font-weight: bold;
transition: 0.4s;
}

#divNav a:hover {
background-color: #c0392b;
color: black;
}

#divNav a.active {
background-color: #c0392b;
color: white;
}

#navbar-right {
float: right;
}

@media screen and (max-width: 580px) {
#divNav {
  padding: 20px 10px !important;
}
#navbar a {
  float: none;
  display: block;
  text-align: left;
}
#navbar-right {
  float: none;
}
#animes, #inicio, #estrenos, #per, #ar{
  margin-top: 50px;
}
