header{     background:#c0392b;    color:#fff; }
.main{     background:#FFFFFF;     color:#000; }
body{
  background:  	#FFFFFF;
}
h1 {        }
h2 {       background:#c0392b;     color:#fff; }
h3 {       background:#c0392b;     color:#fff; }
h4 {       background:#c0392b;     color:#fff; }
aside{     background:#c0392b;     color:#fff; }
footer{     background:#c0392b;     color:#fff;  }﻿
img { text-align: center;}
