
body{
/*  background: url("Images/cl.png");
}
div {
  /*background-color: gray; opacity: 0.5;
*/
}
footer{
  background: #F2F2F2;

}
#re, #d, #mono, #fate, #gosick, #aldo{

  background: white;
  opacity: 0.9;
}
h1{
  text-align: center;

}
H2{
  text-align:center;
  color: #fff;
}
style{
}
